.big-margins {
    margin-top: 50px;
    margin-bottom: 25px;
}

.small-margins {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align:center;
}

.tiny-margins {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align:center;
}