{% extends 'HomePage/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}">
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div style="position: absolute; top:10%;">
        <div class="container">
            <div id="cuadro">
                <div class="card mb-4 rounded-3 shadow-sm" id="borde_header">
                    <div class="card-header py-3 text-bg-primary" id ='header'>
                        <div class="small-margins">
                            <h1 class="my-0 fw-semibold normal-text">Iniciar sesión</h1>
                        </div>
                        <div >
                            <p class="my-0 normal-text" style="text-align: center" > ¿No tiene una cuenta? <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="{% url 'registro' %}">Regístrese aquí</a> </p>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if error %}
                        <div class="alert alert-danger col-lg-6 offset-lg-3" role="alert">
                            {{error}}
                        </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3 col-lg-6 offset-lg-3">
                                {{ loginform.user }}
                                <label for="{{ loginform.user.usuario }}">Nombre de usuario</label>
                            </div>
                            <div class="form-floating mb-3 col-lg-6 offset-lg-3">
                                {{ loginform.password }}
                                <label for="{{ loginform.password.contrasenna }}">Contraseña</label>
                            </div>
                            <div style="padding-top: 30px; padding-bottom: 10px; display: flex; justify-content: center">
                                <div style="border-radius: 10px 10px 10px 10px;  align-self: center;" id="topdiv">
                                    <button type="submit" style="border-radius: 10px 10px 10px 10px;" id="boton">
                                        <div class="normal-text" style="width: 125px; margin-top: 5%; margin-bottom: 5%;">
                                            INICIAR SESIÓN
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>      
{% endblock %}
{% block javascript %}
{% load static %}
<script src="{% static 'js/login-register.js' %}"></script>
{% endblock %}
